@media screen and (max-width: 1402px){
  header {
    width: 95%;
   }
   .home {
    width: 95%;
    }
    .services {
      width: 95%;
    }
}

@media screen and (max-width: 971px){
  .stay__options__box{
    width: 95%;
  }
  .card__one:nth-child(3) .date h3{
     width: 100px;
     font-size: 15px;
  }

  .home__cards{
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    margin-left: 40px;
  }
  .card__two{
    margin-top: 10px;
  }
  .home{
    height: auto;
  }
  section{
    top: -100px;
  }

  section .content__box ul li{
    font-size: 11px;
    width: 155px;
  }

}


@media screen and (max-width: 767px){
  header{
    overflow: hidden;
    height: 90vh;
  }
   .header__content .home__content h1,
   .header__content .home__content p,
   .header__content .home__content h6,
   .header__content .home__content .arrow__btns
   {
      color: #fff;
   }

   .stay__options__box .select__options{
      height: auto;
      flex-wrap: wrap;
   }

   .stay__options .select__options .card__one{
     width: 49%;
   }
   .stay__options__box .select__options .card__one {
    width: 49%;
   }
   .stay__options__box .select__options .card__one:nth-last-child(1) {
     width: 100%;
     margin-top: 5px;
    }
    .card__one:nth-child(3) .date h3 {
      width: 120px;
      font-size: 18px;
    }
    .home__cards{
      width: 100%;
    }
    .home__cards .card__two{
      margin: 10px;
    }

    section .box{
      flex-direction: column;
    }
    section .box .img__box, .content__box{
        width: 100%;
    }

    section .box .content__box{
      width: 85%;
      margin-top: 30px;
      margin-left: 8%;
    }

    .box .content__box ul li{
      width: 170px;
    }
}

@media screen and (max-width: 575px){
   header{
    overflow: hidden;
   }
   .title__button button{
    display: none;
   }
  nav{
    position: relative;
  }
  .nav__list{
    position: absolute;
    top: 60px;
    /* left: 96px; */
    right: 16px;
    z-index: 99999;
    color: #fff;
  }
  .nav__list li a{
    color: #fff;
    font-size: 13px;
  }
  .nav__item:last-child{
    padding: 0;
    border: none;
  }
  .nav__item:last-child a{
    color: #fff;
  }

  .select__options .card__one{
    padding: 10px 0 10px 10px;
    overflow: hidden;
  }

  .select__options .card__one input:nth-child(3){
    font-size: 10px;
  }


}
