@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
}


a{
  text-decoration: none;
}


/**********  HEADER SECTION **************/
header{
  width: 65%;
  height: 85vh;
  
  margin: auto;
  transition: .3s linear;
}

header nav{
   width: 100%;
   height: 7%;
   margin: 5px auto;
   display: flex;
   justify-content: space-between;
}

.header__logo{
   display: flex;
   align-items: center;
   column-gap: 0.2rem;
}

.header__logo i{
  font-size: 1rem;
}
.header__logo span{
  font-size: 1rem;
  font-weight: bold;
}

.header__nav__lists{
   display: flex;
   align-items: center;
   column-gap: 30px;
}

.nav__list{
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.nav__item{
  list-style: none;
}

.nav__item a{
  color: gray;
  font-size: 0.9rem;
}

.nav__item:last-child{
  border: 1px solid rgba(100, 100, 100, 0.6);
  padding: 3px 20px;
  border-radius: 1rem;
}

.nav__item:last-child a{
   color: #000;
}

.nav__btns{
  display: flex;
  column-gap: 1rem;
}

.nav__btns i{
  font-size: 1.2rem;
  color: gray;
}

.header__content{
   width: 100%;
   height: 93%;
   position: relative;
   z-index: 5;
}

.header__content::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 80%;
   background-image: url(img/house__profile.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: -1;
   border-radius: 20px;
}

.home__content{
    width: 500px;
    height: auto;
    color: #000;
    padding: 50px;
}

.home__content h1{
   font-size: 3.5rem;
   font-weight: 500;
   line-height: 3.5rem;
}

.home__content p{
  color: #c4efe9;
  margin-block: 10px 80px;
}

.weather h6{
  color: #c4efe9;
  font-size: 14px;
}

.weather h6 span{
  margin-left: 5px;
}

.weather .arrow__btns{
  margin-top: 10px;
}

.weather .arrow__btns i{
  border: 1px solid #c4efe9;
  padding: 0px 3.3px;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s linear;
  color: #c4efe9;
}

.weather .arrow__btns i:hover{
  color: #c4eff9;
  background-color: rgb(0, 0, 0);
}

header .header__content .images__cards{
   position: absolute;
   width: 50px;
   top: 40px;
   right: 20px;
}

.card{
   position: relative;
   width: 100%;
   height: 50px;
   margin-top: 10px;
   background: rgba(33, 3, 3, 0.3);
   padding: 5px;
   border-radius: 8px;
}

.card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card h6{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: 14px;
  z-index: 999999;
}

.stay__options__box{
  position: relative;
  width: 90%;
  height: auto;
  margin: auto;
}

.stay__options{
  display: flex;
  align-items: center;
}

.stay__options button{
  padding: 10px 30px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: .3s linear;
}

.stay__options button:hover{
  background-color: #fff;
  color: #000;
}

.stay__options button:nth-child(1){
  border-radius: 10px 0 0 0;
  background: #fff;
  color: #000;
}

.stay__options button i{
  margin-right: 5px;
}

.stay__options button:nth-last-child(1){
  border-radius: 0 10px 0 0;
}

.stay__options__box .select__options{
  width: 100%;
  height: 135px;
  background: #fff;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0px 5px 20px rgba(214, 214, 214, 0.8);
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}


.stay__options__box .select__options .card__one{
  width: 26%;
  height: 90%;
  border: 2px solid rgba(226, 226, 226, 0.7);
  border-radius: 10px;
  padding: 10px 0 10px 16px;
}

.stay__options__box .select__options .card__one:nth-last-child(1){
  width: 46%;
}

.card__one h5{
  font-size: 1rem;
  font-weight: 500;
}

.card__one input{
  border: none;
  outline: none;
  /* margin-top: 5px; */
  font-size: 20px;
  font-weight: 700;
  background: none;
  font-family: 'Poppins', sans-serif;
}

.card__one input:nth-child(3){
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.card__one button{
  border: none;
  background: none;
  outline: none;
  margin-right: 20px;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: .3s linear;
}

.card__one button:hover{
  border-bottom: 2px solid rgb(177, 177, 177);
}

.card__one:nth-child(3){
   display: flex;
   align-items: center;
   justify-content: space-between;
  padding: 10px 15px;
}

.card__one:nth-child(3) .date{
  position: relative;
    display: flex;
    align-items: center;
}

.card__one:nth-child(3) .date i{
  position: absolute;
  left: 85%;
  font-size: 23px;
  z-index: -1;
}

.card__one:nth-child(3) .date input{
  width: 25px;
  height: 30px;
  z-index: 999999999;
}

.card__one:nth-child(3) .date h3{
  width: 120px;
}

.card__one:nth-child(3) .date h5{
  font-size: 13px;
  font-weight: 600;
}

.check__in,
.check__out{
  width: 50%;
  height: 100%;
}


/****** MAP SECTION  *******/

.map{
  position: relative;
  width: 100%;
  height: 380px;
  top: -135px;
  overflow: hidden;
  /* border: 1px solid #000; */
  z-index: 0;
  
}

.map iframe{
  opacity: 0.8;
}

.map::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 15%;
  background: linear-gradient(180deg, transparent, #fff);
  top: 0;
  left: 0;
  z-index: 2;
}

.map::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 15%;
  background: linear-gradient(180deg, transparent, #fff);
  bottom: 0;
  left: 0;
  /* box-shadow: 4px 4px 25px gray; */
  border-radius: 8px;
  z-index: 2;
}

.map .address__bx{
  position: absolute;
  width: 240px;
  height: 65px;
  background: #fff;
  box-shadow: 4px 4px 25px gray;
  border-radius: 8px;
  top: 40%;
  left: 30%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 40px;
}

.map .address__bx i{
  font-size: 25px;
}

/************** HOME SECTION ************************/

.home{
  position: relative;
  width: 70%;
  margin: auto;
  height: 230px;
  top: -220px; 
}

.home .title__button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .title__button button{
  position: absolute;
  right: 0;
  padding: 8px 15px;
  background: #fff;
  color: #000;
  box-shadow: 3px 3px 25px rgb(233, 233, 233);
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: .3s linear;
}

.home .title__button button:hover{
  background: #000;
  color: #fff;
}

.home .title__button button i{
  margin-left: 5px;
}

.home__cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  column-gap: 20px;
}

.card__two{
  position: relative;
  width: 180px;
  height: 240px;
  border-radius: 15px;
}


.home__img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.home__cards .home__location{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 999;
  /* overflow: hidden; */
}

.home__location .bi{
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
}

.home__location .bi::after{
  content: '';
  position: absolute;
  width: 165%;
  height: 110%;
  background: rgba(194,194,194,0.6);
  top: -3px;
  left: -35%;
  z-index: -1;
  border-radius: 50%;
}

.home__location .location__content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.home__location .location__content::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(245,245,245, .1);
  border-radius: 0 0 13px 13px;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.home__location .location__content h4{
  color: #fff;
  padding: 14px 0 0 15px;
  line-height: 2px;
}
.home__location .location__content p{
  color: #fff;
  padding: 10px 0 0 15px;
  font-size: 12px;
}

/************  SERVICES SECTION **********************/

.services{
  position: relative;
  width: 65%;
  margin: 20px auto;
  height: auto;
}

.section__title{
  text-align: center;
}

section .box{
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
}

section .box .img__box, .content__box{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__box img{
  width: 85%;
  border-radius: 5px;
}

.content__box{
  flex-direction: column;
  align-items: flex-start;
}

.content__box h6{
  position: relative;
}

.content__box h6 span{
  margin-left: 25px;
}

.content__box h6::before{
  content: '';
  position: absolute;
  height: 1.5px;
  width: 20px;
  background-color: rgb(136,136,136);
  top: 7px;
}

.content__box h1{
  font-weight: 600;
  margin: 10px 0;
}

.content__box p{
  font-size: 12px;
}

.content__box ul{
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__box ul li{
  position: relative;
  font-size: 13px;
  font-weight: bold;
  width: 200px;
  margin-top: 20px;
}

.content__box ul li::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: skyblue;
  border-radius: 50%;
  left: -20px;
  top: 8px;
}




/****************  Footer Section *********************/

footer{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin-top: 50px;
}

footer h4{
  color: white;
}

footer h4 .bi{
  margin-right: 5px;
}


