@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
}


a{
  text-decoration: none;
}


/**********  HEADER SECTION **************/
header{
  width: 65%;
  height: 85vh;
  
  margin: auto;
  transition: .3s linear;
}

header nav{
   width: 100%;
   height: 7%;
   margin: 5px auto;
   display: flex;
   justify-content: space-between;
}

.header__logo{
   display: flex;
   align-items: center;
   column-gap: 0.2rem;
}

.header__logo i{
  font-size: 1rem;
}
.header__logo span{
  font-size: 1rem;
  font-weight: bold;
}

.header__nav__lists{
   display: flex;
   align-items: center;
   column-gap: 30px;
}

.nav__list{
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.nav__item{
  list-style: none;
}

.nav__item a{
  color: gray;
  font-size: 0.9rem;
}

.nav__item:last-child{
  border: 1px solid rgba(100, 100, 100, 0.6);
  padding: 3px 20px;
  border-radius: 1rem;
}

.nav__item:last-child a{
   color: #000;
}

.nav__btns{
  display: flex;
  column-gap: 1rem;
}

.nav__btns i{
  font-size: 1.2rem;
  color: gray;
}

.header__content{
   width: 100%;
   height: 93%;
   position: relative;
   z-index: 5;
}

.header__content::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 80%;
   background-image: url(img/house__profile.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: -1;
   border-radius: 20px;
}

.home__content{
    width: 500px;
    height: auto;
    color: #000;
    padding: 50px;
}

.home__content h1{
   font-size: 3.5rem;
   font-weight: 500;
   line-height: 3.5rem;
}

.home__content p{
  color: rgba(33, 3, 3, 0.4);
  margin-block: 10px 80px;
}

.weather h6{
  font-size: 10px;
  font-weight: 600;
  color: rgb(64, 64, 64);
}

.weather h6 span{
  margin-left: 5px;
}

.weather .arrow__btns{
  margin-top: 10px;
}

.weather .arrow__btns i{
  border: 1px solid rgb(64, 64, 64);
  padding: 0px 3.3px;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s linear;
}

.weather .arrow__btns i:hover{
  color: #fff;
  background-color: rgb(0, 0, 0, 0.3);
}

header .header__content .images__cards{
   position: absolute;
   width: 50px;
   top: 40px;
   right: 20px;
}

.card{
   position: relative;
   width: 100%;
   height: 50px;
   margin-top: 10px;
   background: rgba(33, 3, 3, 0.3);
   padding: 5px;
   border-radius: 8px;
}

.card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card h6{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: 14px;
  z-index: 999999;
}